body{
    margin: auto !important;
}
.aboutus-section {
    padding: 0 0;
    margin: auto;
    border-radius: 2rem;
    background-color: rgb(19 53 239 / 3%);
}
.aboutus-title {
    font-size: 2.5rem;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: var(--gray);
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}
.aboutus-text {
    color: var(--black);
    font-size: 1.4rem;
}

a:hover, a:active {
    color: var(--blue);
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid color var(--blue);
    border-radius: 25px;
    color: var(--blue);
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
.aboutus-banner {
    width: 100%;
    max-width: 500px;
    height: 500px;        /* controls zoom level */
    overflow: hidden;     /* hides outside parts */
  }

/* Image styling */
.owner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2);
    transform-origin: bottom;
}

/* Hover animation */
.aboutus-banner:hover .owner-img {
    transform: scale(1.08); /* zoom in */
    box-shadow: 0 15px 40px rgba(0,0,0,0.4); /* depth */
    filter: brightness(1.05); /* slight pop */
}

/* Mobile adjustments */
@media screen and (max-width: 768px) {
    .aboutus-section {
        margin-top: 2rem;
    }
    .owner-img {
        max-width: 100%; /* full width on mobile */
        height: auto;    /* maintain aspect ratio */
    }

    .aboutus-banner:hover .owner-img {
        transform: scale(1.05); /* slightly smaller zoom for small screens */
    }
    .aboutus-text {
        color: var(--black);
        font-size: 1rem;
    }
}