html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color:#4f5861;
}
#page {
  position: relative;
  min-height: 100vh;
  min-width: 100%;
}

/* Navbar complete*/
.navbar{
  background: transparent;
  width: 100vw;
  position: relative;
  z-index: 2;
}

.navbar-nav{
  margin: 0px 0px;
}
div.navbar-header{
  position: relative;
}

a#alogo{
  position: relative;
  height: 70px;
}

svg#logo{
  position: absolute;
  width: 35rem;
  height: 8rem;
}

#path284{
  animation: colorChange 5.2s ease-in-out infinite;
}
#path64{
  animation: colorChange 5.8s ease-in-out infinite;
}
#path90{
  animation: colorChange 6.5s ease-in-out infinite;
}
#path94{
  animation: colorChange 6.8s ease-in-out infinite;
}
#path126{
  animation: colorChange 7.2s ease-in-out infinite;
}
#path132{
  animation: colorChange 7.4s ease-in-out infinite;
}
#path174{
  animation: colorChange 8s ease-in-out infinite;
}
#path190{
  animation: colorChange 8s ease-in-out infinite;
}
#path192{
  animation: colorChange 9s ease-in-out infinite;
}
#path220{
  animation: colorChange 9s ease-in-out infinite;
}
#path268{
  animation: colorChange 2.3s ease-in-out infinite;
}
#path278{
  animation: colorChange 3.6s ease-in-out infinite;
}
#path284{
  animation: colorChange 3.4s ease-in-out infinite;
}
#path286{
  animation: colorChange 5.4s ease-in-out infinite;
}
#light12{
  animation: colorChange 6.3s ease-in-out infinite;
}
#light5{
  animation: colorChange 5.2s ease-in-out infinite;
}

@keyframes colorChange {
  0%{fill:yellow}
  50%{fill:white}
  100%{fill: #5e7cff}
}


#twinkle1{
  animation: star 1.1s ease;
  animation-iteration-count: infinite;
}
#twinkle2{
  animation: star 1.2s ease;
  animation-iteration-count: infinite;
}
#twinkle3{
  animation: star 1.5s ease;
  animation-iteration-count: infinite;
}
#twinkle4{
  animation: star 1.6s ease;
  animation-iteration-count: infinite;
}
#twinkle5{
  animation: star 2s ease;
  animation-iteration-count: infinite;
}
#twinkle6{
  animation: star 2.2s ease;
  animation-iteration-count: infinite;
}

@keyframes star {
  0%   {opacity:.1 }
  10%  {opacity:.3  }
  30%  { opacity:.6 }
  50%  {opacity:.1  }
  57%  {opacity:.7 }
  64%  {opacity:.5 }
  100% { opacity:.1  }
}

#P{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}

#o{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}


#l{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}


#i{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}


#c{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}


#y{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}


#e{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}


#d{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}

#g{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}

#e2{
  animation: bounce 3s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes bounce {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}

.navbar-right li a {
  color: white;
  font-family: 'Neonderthaw', cursive;
  padding: 22px 26px;
  font-size: 3rem;
}

.navbar-right li a:hover{
    text-shadow:
    0 0 3px #fff,
    0 0 7px #5e7cff,
    0 0 16px #5e7cff,
    0 0 42px #5e7cff,
    0 0 82px #5e7cff,
    0 0 92px #5e7cff,
    0 0 102px #5e7cff,
    0 0 151px #5e7cff;
}

div#myLinks {
  display: none;
  background-color:transparent;
}

/* Navbar burger*/
i.fa.fa-bars{
  position: relative;
  font-size:6rem;
  color:white;
  opacity:.6;
}

i.fa.fa-bars:hover{
  opacity:1;
  text-shadow:
  0 0 3px #fff,
  0 0 7px #5e7cff,
  0 0 16px #5e7cff,
  0 0 42px #5e7cff,
  0 0 82px #5e7cff,
  0 0 92px #5e7cff,
  0 0 102px #5e7cff,
  0 0 151px #5e7cff;
}

li.icon{
  top: 0vh;
  width: 8vw;
  float: right;
}



/* FOOTER*/
.site-footer{
  background-color:#4f5861;
  padding:0px 0 0px;
  font-size:15px;
  line-height:24px;
  color:white;
  margin-top:6%;
}

.site-footer hr{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small{
  margin:20px 0
}

.site-footer h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a{
  color:white;
}

.site-footer a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links{
  padding-left:0;
  list-style:none
}

.footer-links li{
  display:block
}

.footer-links a{
  color:#3366cc
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li{
  display:inline-block
}

.site-footer .social-icons{
  text-align:right
}

.site-footer .social-icons a{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text{
  margin:0
}



/* CSS for TOPNAV*/
@media screen and (min-width: 001px) and (max-width: 375px)
{
  i.fa.fa-bars{
    position: relative;
    font-size:3rem;
  }
div#myLinks{
  top: 10vh;
  position: relative;
}

.navbar-right li a {
  font-family: 'Neonderthaw';
  padding: 1rem 2rem;
  font-size: 1.4rem;
  text-shadow:
  0 0 3px #fff,
  0 0 7px #5e7cff,
  0 0 16px #5e7cff,
  0 0 42px #5e7cff,
  0 0 82px #5e7cff,
  0 0 92px #5e7cff,
  0 0 102px #5e7cff,
  0 0 151px #5e7cff;
}
}

svg#logo{
  position: absolute;
  width: 12rem;
  height: 5rem;
}

@media screen and (min-width: 376px) and (max-width: 800px)
{
  i.fa.fa-bars{
    position: relative;
    font-size: 4rem;
}
.navbar-right li a {
  padding: 1rem 2rem;
  font-size: 2rem;
}
div#myLinks {
  top: 8vh;
  position: relative;
}
}

@media screen and (min-width: 801px) and (max-width: 1300px)
{
  .navbar-nav{
    font-size:1.5rem;
  }

  .navbar-right li a {
    padding: 22px 26px;
    font-size: 2rem;
  }
}

@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media screen and (min-width: 3840px)
{
  i.fa.fa-bars{
    position: relative;
    font-size:3rem;
}
.navbar-right li a {
  padding: 22px 26px;
  font-size: 2rem;
}
div#myLinks {
  top: 8vh;
  position: relative;
}
svg#logo{
  position: absolute;
  width: 78rem;
  height: 26rem;
}

i.fa.fa-bars{
  position: relative;
  font-size:17rem;
  color:white;
  opacity:.6;
}
}


/* CSS for Footer*/

@media (max-width:767px){
  .site-footer{
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons{
    text-align:center
  }
}

.social-icons{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.social-icons li{
  display:inline-block;
  margin-bottom:4px;
}

.social-icons li.title{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px;
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
  color:#fff;
  background-color:#29aafe
}

.social-icons.size-sm a{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px;
}
.social-icons a.facebook:hover{
  background-color:#3b5998
}

.social-icons a.twitter:hover{
  background-color:#00aced
}

.social-icons a.linkedin:hover{
  background-color:#007bb6
}

.social-icons a.google:hover{
  background-color:#ea4c89
}

@media (max-width:767px){
  .social-icons li.title{
    display:block;
    margin-right:0;
    font-weight:600
  }
}
