html, body {
  max-width: 1200px;
  margin: auto !important;
  background-color: #202020 !important;
  height: 100%;
}

#main-content {
  flex: 1;
}

:root {
  --fontNav:28px;
  --font1: 5.3rem;
  --font2: 2rem;
  --font3: 1.5rem;
  --blue: #5e7cff;
  --orange: #fabc3e;
  --white: #e8e8e8;
  --black: #202020;
  --gray: #aaaaaa;
  --textShadow: 2px 2px 3px #69677e;
  --rad:linear-gradient(62deg, var(--orange) 0%, var(--white) 100%);
  --rad2:linear-gradient(180deg, var(--blue) 25%, var(--white) 100%);
}


/* Logo animation */
  svg#logo {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }


  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }


  #top1,
  #top3,
  #insideL,
  #outsideL,
  #leftGutter,
  #leftBuild {
    animation: moveTop 10s ease-in-out;
  }


  @keyframes moveTop {
    0% {
      transform: translateX(150px);
    }

    34% {
      transform: translateX(80px);
    }

    37% {
      transform: translateX(40px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  #tip,
  #top2,
  #insideR,
  #outsideR,
  #rightGutter,
  #rightBuild,
  #pillars,
  #pillars_2,
  #pillars_3,
  #pillars_4,
  #pillars_5 {
    animation: moveTop2 10s ease-in-out;
  }

  @keyframes moveTop2 {
    0% {
      transform: translateX(-150px);
    }

    34% {
      transform: translateX(-80px);
    }

    37% {
      transform: translateX(-40px);
    }

    100% {
      transform: translateX(-0px);
    }
  }

  #columnL,
  #columnmid,
  #columnR {
    animation: moveBot 10s ease-in-out;
  }

  @keyframes moveBot {
    0% {
      transform: translateY(-150px);
    }

    34% {
      transform: translateY(-80px);
    }

    37% {
      transform: translateY(-40px);
    }

    100% {
      transform: translateY(-0px);
    }
  }

  #mid,
  #midBottom {
    animation: spin 6s ease-in-out;
  }

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 90px;          /* Controls navbar height */
  padding: 0 2rem;           /* Side spacing */
  
  border-bottom: 1px solid var(--white);
}

.topnav a {
  display: flex;
  align-items: center;
  font-size: var(--fontNav);
  text-decoration: none;
}

.topnav a:not(:first-child) {
  margin-top: 15px;
  padding: 1rem 3rem;
  font-family: "Montserrat", sans-serif;
  color: var(--white);
}

/* Add an active class to highlight the current page */
.topnav a.logo {
  background-color: transparent;
}

#login {
  background-image: var(--rad);
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-size:100% 5%;
  width:fit-content;
}



.topnav a:not(:first-child):hover {
  background-image: var(--rad);
  background-repeat: no-repeat;
  background-position-y: 50px;
  background-size:100% 5%;
  width:fit-content;
  text-decoration: none;

}

.topnav a:not(:first-child):hover a#login {
  text-decoration: none;
}

/* Hide the link that should open and close the topnav on small screens */
#ham {
  display: none;
}

/* ################################################# */
/* ################################################# */
/* ################################################# */
/* CSS for TOPNAV*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 904px) {
  .topnav a:not(:first-child) {
    display: none;
    background-image: none !important;
  }

  .topnav a#ham {
    top: 2rem;
    float: right;
    text-align: left;
    display: block;
    background-color: transparent;
    text-decoration: none;
  }

  svg#logo {
    height: 7rem;
    width: 24rem;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 904px) {
  .topnav.responsive {
    position: absolute;
    height: 90vh;
    background-color: rgb(0 0 0 / 85%);
    z-index: 2;
    border-radius: 3ch;
    -webkit-animation: slide1 1s forwards;
    animation: slide1 1s forwards;
  }

  @keyframes slide1 {
    0% {
      left: 50rem;
    }

    100% {
      left: 0rem;
    }
  }

  .frost.main {
    -webkit-animation: slide2 1s forwards;
    animation: slide2 1s forwards;
  }

  @keyframes slide2 {
    0% {
      left: 50rem;
    }

    100% {
      left: 1rem;
    }
  }

  #login {
    border-radius: 3rem 3rem 0rem 0rem;
  }

  .topnav.responsive a#ham {
    position: absolute;
    right: 0rem;
  }

  .topnav.responsive a:not(.icon, #ham) {
    display: grid;
    text-align: center;
    width: 100%;
    top: 0rem;
    color:white;
  }

  .icon {
    margin: 20px;
  }

  /* nav-icon-1 */
  .nav-icon-1 {
    width: 30px;
    height: 30px;
    position: relative;
    transition: .1s;
    margin: 10px 10px;
    cursor: pointer;
    display: inline-block;
    background-color: black;
    mix-blend-mode: exclusion;
  }

  .nav-icon-1 span {
    width: 5px;
    height: 5px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;

  }

  .nav-icon-1:hover span {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1 span:nth-child(1) {
    left: 0;
    top: 0;
  }

  .nav-icon-1 span:nth-child(2) {
    left: 12px;
    top: 0;
  }

  .nav-icon-1 span:nth-child(3) {
    right: 0;
    top: 0;
  }

  .nav-icon-1 span:nth-child(4) {
    left: 0;
    top: 12px;
  }

  .nav-icon-1 span:nth-child(5) {
    position: absolute;
    left: 12px;
    top: 12px;
  }

  .nav-icon-1 span:nth-child(6) {
    right: 0px;
    top: 12px;
  }

  .nav-icon-1 span:nth-child(7) {
    left: 0px;
    bottom: 0px;
  }

  .nav-icon-1 span:nth-child(8) {
    position: absolute;
    left: 12px;
    bottom: 0px;
  }

  .nav-icon-1 span:nth-child(9) {
    right: 0px;
    bottom: 0px;
  }

  .nav-icon-1.open {
    transform: rotate(180deg);
    cursor: pointer;
    transition: .2s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span {
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);
  }

  .nav-icon-1.open span:nth-child(2) {
    left: 6px;
    top: 6px;
  }

  .nav-icon-1.open span:nth-child(4) {
    left: 6px;
    top: 18px;
  }

  .nav-icon-1.open span:nth-child(6) {
    right: 6px;
    top: 6px;
  }

  .nav-icon-1.open span:nth-child(8) {
    left: 18px;
    bottom: 6px;
  }
}

/* ################################################# */
/* ################################################# */
/* ################################################# */
/* ################################################# */
/* ################################################# */
/* ################################################# */
/* FOOTER*/
#footer {
  position: relative;
}

p.text-justify {
  color: var(--black);
}

p.copyright-text {
  color: var(--white);
}

.site-footer {
  background-color: transparent;
  padding: 0px 0 0px;
  font-size: 15px;
  line-height: 24px;
  color: var(--white);
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}


.site-footer a {
  color: var(--white);
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: var(--gray);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--blue);
  text-decoration-thickness: 2px;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
}

.copyright-text {
  margin: 0
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.gmail:hover {
  background-color: #ea4c89
}


/* ################################################# */
/* ################################################# */
/* ################################################# */

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

/* ################################################# */
/* ################################################# */
/* ################################################# */
@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }

  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}
