body, html {
	height: 100%;
	width: 100%;
	margin:0;
	padding:0;
}

.topnav {
	background: #516a6f;
	width:100%;
	position: absolute;
	display: inline-block;
	height:6.5vh

}
.topnav a {
	float: right;
	color: rgb(240, 241, 231);
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	padding: 14px 16px;
	margin:0;
}

.topnav .icon {
	display: none;
}

a.banner{
	float:left;
    font-size: 5vh;
	color: rgb(240, 241, 231);
	text-shadow: 8px 8px 8px rgb(38,70,83), 8px 8px 8px #f4a261;
	padding: 0;
	margin:0;

}

a.banner::first-letter{
	color:#b08857;
	text-shadow: 8px 8px 8px rgb(38,70,83), 8px 8px 8px #f4a261;

}
span.second{
	color:#b08857;
	text-shadow: 8px 8px 8px rgb(38,70,83), 8px 8px 8px #f4a261;

}
#registerb {
    background-color: #8db2ba;
    text-shadow: 1px -1px black;
	margin:0;

}

a:hover {
	filter: blur(1px);
	color:#f09d51;
}
a#logoutb.logoutb{
color: rgb(240, 241, 231);
}

@media screen and (max-width: 800px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
		padding: 28px 20px;
		font-size: 3vh;
	}
	a.banner{
		font-size: 6.5vh;
	}
	.topnavresponsive {
		background: #516a6f;
		width:100%;
		display: block;
		text-align: center;
		position: relative;
	}

	.topnavresponsive a {
		float: none;
		display:block;
		color:white;
		padding: 12px 10px;

	}
	div.containerchanges h2{
		position: inherit;
		width: 100%;
		top:10%;
	}
}
