.Inwrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-size:70px;
    color: rgb(170,61,22);
    text-shadow: 2px 2px 2px rgb(60, 110, 113);
}
p {
	font-family: 'Open Sans', sans-serif;
	color: rgb(53,53,53);
    font-size:25px;
}
.overlayText {
    position: relative;
    z-index:1;
    letter-spacing:.5px;
    left: 40vw;
}