.highlight {
        text-decoration-line: underline;
        text-decoration-color: var(--orange);
        text-decoration-thickness: 2px;
    }
/* Main Dislay*/
    #conTable {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 1rem;
        align-items: flex-start;
        color: white;
    }
/* Main Title*/
    #mainPane {
        border-radius: 3rem;
        position: relative;
        overflow: hidden;
    }
    h1#title {
        text-align: center;
        font-size: var(--font1);
        letter-spacing: -1px;
        font-family: serif;
        font-weight: 600;
        color: var(--white);
        text-shadow: 2px 2px 2px black;
    }
    h3.sellLine{
        color: var(--gray);
        font-size: 2rem;
        letter-spacing: .1rem;
        text-align: -webkit-center;
        text-shadow: 2px 2px 2px black;
    }


/* Charts*/
    #chartBox {
        height: 350px;
        width: 90%;
        overflow: hidden;
    }
/* search bar section*/

    /* Master Div*/

    .searchFreeDiv {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        max-width: 1000px;
        margin:auto;
    }

    /* First Div*/

    #mapSearchForm{
        display: flex;
        align-items: flex-end;
    }
    #chartSearch{
        background:currentColor;
    }
        /* searchbar*/
    #mapSearchForm ul{
        margin: 1rem;
        width:auto;
    }
        /* Button*/
    #mapSearchForm p{
        margin: 1rem;
        width:auto;
    }
    #mapSearchButton {
        border-radius: 1rem;
        background: transparent;
        color: var(--white);
        cursor: pointer;
        font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
        text-align: center;
        border: 1px solid #ffffff54;
        width: 8rem;
        height: 3rem;
    }


    /* Second Div*/

    #freeButton {
        text-align: -webkit-center;
        width: 206px;
        height: 107px
    }

    h3.free {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 3rem;
        text-align-last: center;
        border-radius: .5rem;
        width: max-content;
        padding: .8rem;
        background-color: var(--orange);
    }

    h3.free a {
        color: white;
        font-weight: 200;
    }
    /* ThirdDiv*/

    #currIss {
        font-size: var(--font3);
        font-family: 'Merriweather', serif;
        text-transform: capitalize;
        color: var(--white);
    }
    h2 {
        font-size: 16px;
        color: var(--white);
        margin-top: 1rem;
    }
    /* Table*/

    div.texture {
        width: 58rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
        overflow: hidden;
        height: auto;
        background: rgb(50 50 50 / 80%);
    }
    #table_1 {
        table-layout: fixed;
        border: none;
        background: white;
        border-radius: 3rem;
        margin-top: 2rem;
    }
    .table-bordered {
        border: none;
    }


/* Titles*/
    caption {
        text-align: center;
        font-size: 1.9rem;
        text-transform: capitalize;
        font-weight: 500;
        color: var(--white);
    }


    /* Topic section*/
    div#listcontent{
        margin-top:2rem;
        color: var(--gray);
        text-shadow: 2px 2px 2px black;
    }
    #listcontent ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div#listcontent p{
        font-size: 1rem;
        float: left;
    }

    #topicLink{
        min-width: 14rem;
        min-height: 1rem;
        font-size: 1rem;
        color: var(--gray);
        text-shadow: 2px 2px 2px black;
    }

    /* Table option*/

    tr {
        text-align: -webkit-center;
    }


    th {
        display: inline-block;
        position: relative;
        color: var(--gray);
        text-shadow: 2px 2px 2px black;
        font-size: 1.4rem;
    }

    td {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-size: 1.2rem;
    }
    td:hover{
        color: white;
        font-size: 1.3rem;
    }
    .table-hover>tbody>tr:hover {
        background-color: var(--black);
    }
    td.none {
        display: none;
    }
    th.none {
        display: none;
    }
    td.infoLocation {
        display: flex;
        justify-content: space-evenly;
        color: var(--gray);
        text-shadow: 2px 2px 2px black;
    }
    td.description {
        white-space: break-spaces;
        text-shadow: 2px 2px 2px black;
        color: var(--gray);
        max-height: 8rem;
        /* Initial collapsed height */
        overflow: hidden;
        /* Hide overflowing content */
        transition: height 0.3s ease;
        /* Smooth height transition */
        cursor: pointer;
    }


    .table thead tr th,
    .table tbody tr td {
        border: none;
    }

    .glyphicon:not(.glyphicon-resize-vertical) {
        color: var(--orange);
    }
    span.poundSign{
    color: var(--orange);
}
/* Pagination */

div.fixed-table-pagination {
    bottom: -1rem;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.columns {
    display: none
}

.pagination-info {
    color: var(--white);
    font-size: 1rem;
}

.page-list {
    color: var(--white);
    font-size: 1rem;
}

.pagination>.active>a {
    background-color: var(--orange);
    color: var(--textColor);
}

.pagination>li>a {
    color: var(--black);
    background-color: ghostwhite;
}

.btn {
    background-color: ghostwhite;
}

.pagination>li>span {
    padding: 1px 11px;
}

.subrow {
    color: var(--textColor);
}

span.page-size {
    color: black;
}

a.dropdown-item {
    color: var(--orange);
    text-decoration: none;
    padding: 2px;
}


/* ################################################# */
/* ################################################# */
/* ################################################# */
@media (min-width: 001px) and (max-width: 600px) {
    thead:after {
        content: none;
    }

    /* Title*/

    h1#title {
        font-size: 3rem;
        text-align: center;
        width: auto;
    }

    #conanimation {
        flex-direction: column;
    }

    svg.animated {
        left: -7rem;
    }

    h3.howwrk {
        font-size: 2.4rem;
    }

    .portfolio-experiment a {
        left: 2rem;
    }



    /* search Buttons*/
    form {
        left: -2rem;
        position: relative;
    }

    #uniqueSearch {
        left: 8rem;
    }

    #currIss {
        position: relative;
        left: 8rem;
    }

    label {
        font-size: 14px;
    }

    /* Map*/
    #chartBox {
        height: 26rem;
        margin: 0 auto;
    }

    /* Table*/
    th {
        display: none;
        width: none;
    }

    th {
        margin: auto;
        font-size: 1.2rem;
    }

    td.infoLocation {
        font-size: 12px;
    }

    td.description {
        font-size: 12px;
    }

    h3#title {
        font-size: 1.7rem;
    }

    caption {
        font-size: 2.8rem;
        width: auto;
    }

    .pagination-info {
        font-size: 14px;
    }

    .page-list {
        font-size: 14px;
    }
}


/* ################################################# */
/* ################################################# */
/* ################################################# */
