/* First Container Jumbo*/
.jumbotron{
  height:35vh;
  position: relative;
  background-color: transparent;
  padding-top: 0px;
  top: -15vh;
  }

video {
  width: 100%;
  object-fit: cover;
  height: 116%;
  object-position: 0% 63%;
}
  
  /* Height of Headline*/
.jumbotron .container {
  top: 17rem;
}
/* Neon sign*/
.jumbotron h1{
  font-size:8rem;
  color: #fff;
}
.neon{
  font-family: 'Neonderthaw', cursive;
  position: absolute;
  opacity: .77;
  top: 11vh;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fab935,
    0 0 21px #fab935,
    0 0 42px #5e7cff,
    0 0 82px #5e7cff,
    0 0 92px #5e7cff,
    0 0 102px #5e7cff,
    0 0 151px #5e7cff;
}
  
.flicker-slow{
  animation: flicker 4.5s linear infinite;
}

.flicker-fast{
  animation: flicker 2.5s linear infinite;
}

@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
    opacity: .99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
  }
}
  
  /* Frost affect*/
.frost {
  position: relative;
  width: 86vw;
  height:auto;
  background-color: rgba(255, 255, 255, .15);
  top: -13rem;
  left: 7%;
  border: 4px solid;
  padding: 1rem;
  border-image: linear-gradient(100deg, #fab935, dodgerblue) 20 round;
}
#conanimation{
  position:relative;
  display:flex;
}
  svg.animated{
  overflow: hidden;
  height: auto;
  top: 0vh;
  position: relative;
}
h3#howPE{
  color:lavender;
  text-align: center;
  text-shadow: 2px 2px 3px #fab935;  
  font-size: 3rem;
  animation: fadeIn 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity:0;
}
h3.howwrk{
  font-size: 2rem;
  color:white;
  text-shadow: 2px 2px 3px black;  
}
  
/* What PolicyEdge Offers*/

#con3{
  position:relative;
  width:70vw;
}
h3#offer{
  text-align: center;
  text-shadow: 4px 4px 2px black;
  font-size: 3rem;
}
p.subject {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 25px;
  text-shadow: 4px 4px 2px black;
  opacity:0;
}

p.subject.\34 {
  animation: fadeIn 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*Happening next week banner*/
#con4{
  position:relative;
  width:70vw;
  top:4vh;
}
h3#happening{
  color:white;
  text-align: center;
  text-shadow: 4px 4px 2px black;
  font-size: 3rem;
}

/* Tables */
#con5{
  position:relative;
  display:flex;
  width:70vw;
  top:4vh;
}
h3#title{
  color:white;
  text-align: center;
  text-shadow: 2px 2px 3px #fab935;  
  font-size: 3rem;
}
div#split{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
  width:80rem;
  transform: translateY(100px);
  opacity: 0;
  transition: 2s all ease;
  transition-timing-function: linear;
}

#table_1.active,#table_2.active,#table_3.active,#table_4.active,#table_5.active,#table_6.active,#table_7.active,#table_8.active{
  transform: translateY(0);
  opacity: 1;
}

/* Tables Row options */
td.meetType{
  width: .1em;
}
td.city{
  width: .1em;
}
td.date{
  width: .1em;
}
th {
  color: white;
  text-shadow: 1px 2px 1px #5e7cff;
  background-color: #FAB935;
  text-align: center;
}
td {
  background-color: slategray;
  color:white;
  text-align: center;
  max-height: 12vh;
  font-size: .8em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0px 1px 1px #FAB935;
}
.table thead tr th, .table tbody tr td {
  border: none;
}
tbody tr:nth-child(even){
background-color: white;
}
td.description:hover {
  background-color: darkkhaki;
}
.description{
display: block;
overflow: hidden;
justify-content: center;
white-space: break-spaces;
width:100%;
}
.columns{ 
  display:none
}
.pagination-info{ 
  color:white;
  font-size: .7em;
}
.page-list{ 
  color:white;
  font-size: .7em;
}
.btn{
  padding: 3px 0px;
}
.pagination>li>a, .pagination>li>span{
  padding: 1px 11px;
}
#trendTitle{
  position:relative;
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
}
.subrow {
	color:white;
}
.subMenu {
	text-align: inherit;
	height:auto;
	font-size: 1.5rem;
  max-width: 18rem;
  text-shadow: 2px 2px 3px black;
}
.subMenu:hover {
	background-color: darkkhaki;
}
div#split2{
	position: relative;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}
h3#trend{
  font-size: 2rem;
  color:white;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}

#trendColumn{
  columns: 3;
}
  
  /* ################################################# */
  /* ################################################# */
  /* ################################################# */
  @media screen and (min-width: 250px){
  svg.animated{
    overflow: hidden;
    height: auto;
    top: 0vh;
    position: relative;
  }
  
  .neon{
    top: 7vh;
  }
  
  .jumbotron h1{
    font-size:2.4rem;
  }
  p.subject {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  }
  
  h3#howPE{
    font-size: 3rem;
    color:floralwhite;
    text-align: center;
    width:auto;
  }

  h3.howwrk{
    font-size: 1.4rem;
  }

  h3#happening{
    font-size: 1.6rem;
  }
  
  h3#happening.active{
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  td.meetType{
    display:none
  }
  th:nth-child(2){
  display:none
  }
  #trendColumn{
    columns: 2;
    }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
      width:30rem;
  }
  .description {
    width: 18rem;
}
    }
  /* ################################################# */
  /* ################################################# */
  /* ################################################# */
  @media screen and (min-width: 768px) {  
  video {
    position: relative;
    top: 0px;
    width:100%;
  }
  
  .neon{
    top: 7vh;
  }
  
  .jumbotron h1{
    font-size:4.5rem;
  }
  
  p.subject {
    font-size: 1.2rem;
    text-align: center;
    margin: 25px;
    opacity:0;
  }
  
  h3#happening{
    display:block;
    font-size: 2.2rem;
  }
  svg.animated{
    overflow: hidden;
    height: auto;
    top: 0vh;
    position: relative;
  }
  
  h3#happening.active{
    display:block;
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }
  #trendColumn{
    columns: 2;
  }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
    width:34rem;
  }
  .description{
    width:34rem;
    }
  }
  
  /* ################################################# */
  /* ################################################# */
  /* ################################################# */
  @media screen and (min-width: 1500px) {
  video {
    position: relative;
    top: 0px;
    width:100%;
  }
  
  .neon{
    top: 7vh;
  }
  
  .jumbotron h1{
    font-size:4.5rem;
  }
  
  p.subject {
    font-size: 1.4rem;
    text-align: center;
    margin: 25px;
    opacity:0;
  }
  svg.animated{
    overflow: hidden;
    height: auto;
    top: 0vh;
    position: relative;
  }
  h3#happening{
    display:block;
    font-size: 3rem;
  }
  h3#happening.active{
    display:block;
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  #trendColumn{
    columns: 3;
  }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
    width:55rem;
}
.description{
  width:100%;
  }
}

/* ################################################# */
/* ################################################# */
/* ################################################# */
  @media screen and (min-width: 2000px) {
  .neon{
      top: 42px;
  }
  
  .jumbotron h1{
      font-size:7.4rem;
  }
  
  p.subjectLead{
    font-size: 2rem;
  }
  
  p.subject {
    font-size: 1.7rem;
    text-align: center;
    margin: 25px;
    opacity:0;
  }
  
  h3#howPE{
      font-size: 5rem;
      color: floralwhite;
      text-align: center;
      width: auto;
  }
  
  h3#happening{
      display:block;
      font-size: 3rem;
  }
  
  svg.animated{
    overflow: hidden;
    height: 28rem;
    top: -2rem;
    position: relative;
  }
  
  h3#happening.active{
    display:block;
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    justify-content: space-around;
  }
    #trendColumn{
      columns: 3;
    }
    #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
      width:80rem;
    }
    .description{
      width:100%;
      }
  }
