.frost {
  top: 0rem;
  padding: 0rem;
  position: relative;
  background-color: rgba(255, 255, 255, .15);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div#conTable{
  top:3rem;
  position: relative;
}

caption{
  color:lavender;
  text-align: center;
  text-shadow:
    0 0 5px #5e7cff;
  text-transform: capitalize;
  font-size: 5.2rem;
  font-family: 'Merriweather', serif;
}

label{
  color:white;
  text-shadow: 4px 4px 2px black;
}

#table_1{
  border: 0px;
  margin:auto;
  width:75%;
}
tr{
  text-align: -webkit-center;
}
th {
  display: inline-block;
  position: relative;
  color: white;
  text-shadow: 3px 3px 2px black;
}
td {
  display: block;
  clear:both;
  background-color:rgba(255, 255, 255, .0);
  color:white;
  text-align: center;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  text-shadow: 3px 3px 2px black;
  padding: 0px;
  margin: 0px auto;
  width:auto;
}
td.none{
  display:none;
}
th.none{
  display:none;
}
td.infoLocation{
  display: flex;
  justify-content: space-evenly;
}
td.description{
  overflow: hidden;
  max-height: 9rem;
  white-space: break-spaces;
}
span#prettyTable {
  text-shadow: 1px 1px 2px #fab935;
}
.table thead tr th, .table tbody tr td {
  border: none;
}
tbody tr:nth-child(even){
  background-color:rgba(255, 255, 255, .25);

}
tbody tr:nth-child(odd){
  background-color:rgba(255, 255, 255, .0);
}
tr:hover td.description {
  max-height: fit-content;
}
tr:hover td {
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
      box-shadow: 0 2px 2px -2px #0E1119;
  transform: translate3d(4px, -10px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
  font-size: 1.1em;
}

/* Pagination */

.padding-0{
  padding-right:0;
  padding-left:0;
}
.columns{
  display:none
}
.pagination-info{
  color:white;
  font-size: .7em;
}
.page-list{
  color:white;
  font-size: .7em;
}
.btn{
  padding: 3px 0px;
}
.pagination>li>a, .pagination>li>span{
  padding: 1px 11px;
}
.subrow {
	color:white;
}
span.page-size{
  color:black
}

  @media screen and (max-width: 600px) {
  #table_1{
    border: 0px;
  }

  td {
    text-align: center;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    text-shadow: 3px 3px 2px black;
    padding: 0px;
    margin: 0px auto;
  }
  td.infoLocation{
    display: flex;
    justify-content: start;
  }
  td.description{
    overflow: hidden;
    max-height: 9rem;
    white-space: none;
  }
  .subMenu {
    height:auto;
    font-size: 1.4rem;
  }
  h3#title {
    font-size: 1.7rem;
  }
  caption {
    font-size: 2.8rem;
    width: auto;
  }
