
h1{
  text-align: center;
  background: var(--rad2);
  background-clip: text;
  color: transparent;
  font-size: var(--font1);

}
div.conTable{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 7rem;
  align-items: flex-start;
}

div.texture{
    padding: 1rem;
    width: 58rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    height:8rem
}

/* Table Div*/
#mainBox {
  padding-top: 13rem;
  position: relative;
}

/* Titles*/
caption {
  text-align: center;
  font-size:3.7rem;
  text-transform: capitalize;
  background: var(--rad);
  background-clip: text;
  color: transparent;
}
caption:after {
  content: "";
  width: 75%;
  height: 4px;
  background: radial-gradient(var(--blue), var(--gray));
  left: 15%;
  position: absolute;
  top: 6rem;
}
/* Table*/

#table_1 {
  table-layout: fixed;
  border:none;
  background: white;
  border-radius:3rem
}
#table_1:empty {
  display: none;
}

tr {
  text-align: -webkit-center;
}

tr.lineSep:after {
  content: "";
  width: 60%;
  height: 1px;
  background: radial-gradient(var(--blue), var(--gray));
  left: 26%;
  position: absolute;
}
th {
	display: inline-block;
	position: relative;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 1.6rem;
}

td {
  display: block;
  font-family: "Open Sans", sans-serif;
}

td.none {
  display: none;
}
th.none {
  display: none;
}
td.infoLocation {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
  color: white;
  text-shadow: 2px 2px 2px black;
}
td.description {
  overflow: hidden;
  height: auto;
  font-size: 1.5rem;
  white-space: break-spaces;
  color: black;
  text-shadow: .5px .5px .5px white;
}

.table thead tr th,
.table tbody tr td {
  border: none;
}

.glyphicon:not(.glyphicon-resize-vertical) {
  color: var(--blue);
}
span{
  color: var(--blue);
}

/* Pagination */

div.fixed-table-pagination{
  bottom:-1rem;
}
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.columns {
  display: none
}

.pagination-info {
  color: var(--white);
  font-size: 1rem;
}

.page-list {
  color: var(--white);
  font-size: 1rem;
}

.pagination>.active>a {
  background-color: var(--gray);
  color: var(--textColor);
}

.pagination>li>a {
  color: var(--textColor);
  background-color: ghostwhite;
}

.btn {
  background-color: ghostwhite;
}

.pagination>li>span {
  padding: 1px 11px;
}

.subrow {
  color: var(--textColor);
}

span.page-size {
  color: black;
}
a.dropdown-item{
  color: var(--orange);
  text-decoration: none;
  padding: 2px;
}


@media screen and (min-width: 001px) and (max-width: 400px){
  th {
      font-size: .8rem;
    }
  td {
      max-height: 5rem;
      font-size: .8rem;
    }
  .pagination-info{
      font-size: .6rem;
    }
  .page-list{
      font-size: .6rem;
    }
}
