/* First Container Jumbo*/
.jumbotron{
  height:35vh;
  position: relative;
  background-color: transparent;
  padding-top: 0px;
  top: -15vh;
  }
video {
  width: 100%;
  object-fit: cover;
  height: 116%;
  object-position: 0% 63%;
}
  /* Height of Headline*/
.jumbotron .container {
  top: 17rem;
}
  /* Frost affect*/
.frost {
  position: relative;
  width: 86vw;
  height:auto;
  background-color: rgba(255, 255, 255, .15);
  top: -13rem;
  left: 7%;
  border: 4px solid;
  padding: 1rem;
  border-image: linear-gradient(100deg, #fab935, dodgerblue) 20 round;
}
#conanimation{
  position:relative;
  display:flex;
}
svg.animated{
  overflow: hidden;
  height: auto;
  top: 0vh;
  position: relative;
}
h1#title{
  color:lavender;
  text-align: center;
  text-shadow:
    0 0 5px #fab935;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
  animation: fadeIn 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity:0;
}
h3.howwrk{
  font-family: sans-serif;
  font-size: 1.8rem;
  color:white;
  text-shadow: 4px 4px 2px black;
}

/* What PolicyEdge Offers*/

#con3{
  position:relative;
  width:70vw;
}
h3#offer{
  color:lavender;
  text-align: center;
  text-shadow:
    0 0 5px #5e7cff;  
  font-size: 3rem;
  font-family: 'Lobster', cursive;

}
p.subject {
  font-size: 2rem;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin: 25px;
  text-shadow: 4px 4px 2px black;
  opacity:0;
}

p.subject.\34 {
  animation: fadeIn 3s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/*Happening next week banner*/
#con4{
  position:relative;
  width:70vw;
  top:4vh;
}
h3#happening{
  color:white;
  font-family: sans-serif;
  text-align: center;
  text-shadow: 4px 4px 2px black;
  font-size: 3rem;

}

/* Tables */
caption{
  color:lavender;
  text-align: center;
  text-shadow:
    0 0 3px black;  
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}
h3#label{
  color:lavender;
  text-align: center;
  text-shadow:
    0 0 3px black;  
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}
div#split{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
  max-width:80rem;
  transform: translateY(100px);
  opacity: 0;
  transition: 2s all ease;
  transition-timing-function: linear;
  border: 0px;
}

#table_1.active,#table_2.active,#table_3.active,#table_4.active,#table_5.active,#table_6.active,#table_7.active,#table_8.active{
  transform: translateY(0);
  opacity: 1;
}

/* Tables Row options */
td.meetType{
  width: .1em;
}
td.city{
  width: .1em;
}
td.date{
  width: .1em;
}
th {
  color: white;
  text-shadow: 1px 2px 1px #5e7cff;
  background-color: #FAB935;
  text-align: center;
}
td {
  background-color:rgba(255, 255, 255, .0);
  color:white;
  text-align: center;
  max-height: 12vh;
  font-size: .8em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0px 1px 1px black;
}
.table thead tr th, .table tbody tr td {
  border: none;
}
tbody tr:nth-child(even){
background-color: rgba(255, 255, 255, .15);
}
tbody tr:nth-child(odd){
  background-color:rgba(255, 255, 255, .0);
}
tr:hover td {
  background-color: #5e7cff;
}
.description{
  display: block;
  overflow: hidden;
  justify-content: center;
  white-space: break-spaces;
  width:100%;
}
.columns{
  display:none
}
.pagination-info{
  color:white;
  font-size: .7em;
}
.page-list{
  color:white;
  font-size: .7em;
}
.btn{
  padding: 3px 0px;
}
.pagination>li>a, .pagination>li>span{
  padding: 1px 11px;
}
#trendTitle{
  position:relative;
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
}
.subrow {
	color:white;
}
.subMenu {
  list-style-type: disclosure-closed;
	text-align: inherit;
  font-family: sans-serif;
	height:auto;
	font-size: 1.5rem;
  max-width: 18rem;
  text-shadow: 2px 2px 3px black;
}

div#split2{
	position: relative;
  display:flex;
  justify-content: space-around;
  flex-direction: column;
}
h3#trend{
  font-size: 2rem;
  color:white;
  text-shadow: 2px 2px 3px black;
  text-align: center;
}
#trendColumn{
  columns: 3;
}

  /* ################################################# */
  /* ################################################# */
  /* ################################################# */
  @media screen and (max-width: 400px){
  .jumbotron{
    display:none;
    }
  svg.animated{
    overflow: hidden;
    height: auto;
    top: 0vh;
    position: relative;
  }
  .neon{
    top: 7vh;
  }

  .jumbotron h1{
    font-size:2.4rem;
  }
  .frost {
    border-image: none;
    width: 30rem;
    top:3rem;
  }
  p.subjectLead{
    font-size: 1.7rem;
  }
  p.subject {
    font-size: 1.3rem;
    color: white;
    text-align: center;
  }
  h1#title{
    font-size: 3rem;
    color:floralwhite;
    text-align: center;
    width:auto;
  }

  h3.howwrk{
    font-size: 1.4rem;
  }
  h3#label{
    text-align: center;
    font-size: 2rem;
  }

  h3#happening{
    font-size: 1.6rem;
  }

  h3#happening.active{
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  td.meetType{
    display:none
  }
  th:nth-child(2){
  display:none
  }
  #trendColumn{
    columns: 2;
    }
  #con4{
    position:relative;
    width:auto;
    top:4vh;
  }
  h3#happening{
    color:white;
    font-family: sans-serif;
    text-align: center;
    text-shadow: 4px 4px 2px black;
    font-size: 1.2rem;
  }
  #con5{
    position:relative;
    display:flex;
    width:auto;
    top:4vh;
    align-items: center;
    flex-direction: column;
    }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
    width:auto;
  }
  .description {
    width: auto;
  }
  .subMenu {
    height:auto;
    font-size: 1rem;
    max-width: 5rem;
  }
}
  /* ################################################# */
  /* ################################################# */
  /* ################################################# */
  @media screen and (min-width: 400px) and (max-width: 768px) { 
  video {
    position: relative;
    top: 0px;
    width:100%;
  }

  .neon{
    top: 7vh;
  }

  .jumbotron h1{
    font-size:4.5rem;
  }

  p.subject {
    font-size: 1.2rem;
    text-align: center;
    margin: 25px;
    opacity:0;
  }

  h3#happening{
    display:block;
    font-size: 2.2rem;
  }
  svg.animated{
    overflow: hidden;
    height: auto;
    top: 0vh;
    position: relative;
  }

  h3#happening.active{
    display:block;
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }
  #trendColumn{
    columns: 2;
  }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
    width:auto;
  }
  .description{
    width:34rem;
    }
  }

  /* ################################################# */
  /* ################################################# */
  /* ################################################# */
  @media screen and (min-width: 768px) and (max-width: 1500px) {
  video {
    position: relative;
    top: 0px;
    width:100%;
  }

  .neon{
    top: 7vh;
  }

  .jumbotron h1{
    font-size:8.8rem;
  }

  p.subject {
    font-size: 1.4rem;
    text-align: center;
    margin: 25px;
    opacity:0;
  }
  svg.animated{
    overflow: hidden;
    height: auto;
    top: 0vh;
    position: relative;
  }
  h3#happening{
    display:block;
    font-size: 3rem;
  }
  h3#happening.active{
    display:block;
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  #trendColumn{
    columns: 3;
  }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
    width:53rem;
}
  .description{
    width:100%;
    }
}

/* ################################################# */
/* ################################################# */
/* ################################################# */
  @media screen and (min-width: 1500px) and (max-width: 2000px) {
  .neon{
    top: 42px;
  }

  .jumbotron h1{
    font-size:8.8rem;
  }

  p.subjectLead{
    font-size: 2rem;
  }

  p.subject {
    font-size: 1.7rem;
    text-align: center;
    margin: 25px;
    opacity:0;
  }

  h1#title{
    font-size: 6rem;
    color: floralwhite;
    text-align: center;
    width: auto;
  }
  h3#happening{
    display:block;
    font-size: 3rem;
  }
  svg.animated{
    overflow: hidden;
    height: 28rem;
    top: -2rem;
    position: relative;
  }
  h3#happening.active{
    display:block;
    transform: translateY(0);
    opacity: 1;
  }
  div#split{
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  #trendColumn{
    columns: 3;
  }
  #table_1,#table_2,#table_3,#table_4,#table_5,#table_6,#table_7,#table_8{
    width:auto;
  }
  .description{
    width:100%;
    }
  }
