Result Skip Results Iframe
EDIT ON
html, body{
	margin:0;
	padding:0;
  	background-color: #4f5861;
}

.jumbotron{
	height:37vh;
	position: relative;
	background-color: transparent;
	padding-top: 0px;
}

video {
	  width: 100%;
	  object-fit: cover;
	  height: 116%;
	  object-position: 0% 63%;
}

.btn-outline-danger{
	  color:white;
	  border-color:white;
	  border-radius:0px;
	  font-weight:100;
	  margin-top:20px;
}

.neon{
	  font-family: 'Neonderthaw', cursive;
	  position: absolute;
	  opacity: .77;
	  top: 68px;
	  left: 50%;
	  width: 100%;
	  transform: translate(-50%, -50%);
	  letter-spacing: 8px;
	  text-shadow:
	    0 0 7px #fff,
	    0 0 10px #fff,
	    0 0 21px #fff,
	    0 0 42px #5e7cff,
	    0 0 82px #5e7cff,
	    0 0 92px #5e7cff,
	    0 0 102px #5e7cff,
	    0 0 151px #5e7cff;
}

.jumbotron h1{
	    font-size:9rem;
	    color: #fff;
  }

.flicker-slow{
  	animation: flicker 5s linear infinite;
}

.flicker-fast{
  	animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

.lead{
	  font-family:raleway;
	  font-weight:100;
	  margin-top:-10px;
}

.jumbotron .container {
 	 top: 110px;
}

.container {
 	 position: relative;
}

}

.jumbotron p{
	  font-size: 2.5rem;
	  color: white;
}

h3.offer{
	  text-align: center;
	  font-size: 1.7rem;
	  color: white;
}

h3{
	  color:#3366cc;
	  text-align: center;
	  text-shadow: 4px 4px 2px black;
	  font-size: 3rem;
}

p.title{
	  text-align: center;
	  color: white;
	  font-size: 2.2rem;
}

p.subjectLead{
	  font-size: 5rem;
	  color: white;
	  text-shadow: 4px 4px 2px black;
}

p.subject{
	  font-size: 3rem;
	  color: white;
	  text-align: center;
	  margin: 10px;
}

.thumbnail{
	  width: 22%; /* You can set the dimensions to whatever you want */
	  height: 350px;
	  object-fit: cover;
	  background-color: #3366cc;
}

@media screen and (min-width: 300px) and (max-width: 400px)
{
  .backgroundimg{
	  position: absolute;
	  z-index: 0;
	  width: 100%;
	  opacity: 0.9;
	  top: 0px;
}
	
.jumbotron p.support{
	  color:white;
	  font-size: 1.8rem;
	  font-weight: bold;
	  text-shadow: 2px 2px black;
}
.neon{
  	top: -20px;
}

.jumbotron h1{
  	font-size:2.4rem;
}

p.subjectLead {
	  font-size: 2.8rem;
	  color: snow;
}

p.subject {
	font-size: 2.6rem;
	color: white;
	text-align: center;
}

h3#offer{
 	font-size: 2.8rem; 
 	color:floralwhite; 
}

p.lead{
	  color:black;
	  font-size: 2rem;
	  font-weight: bolder;
}
}

@media screen and (min-width: 401px) and (max-width: 1050px)
{
.backgroundimg{
	position: absolute;
	z-index: 0;
	width: 100%;
	opacity: 0.5;
	top: 0px;
}

video {
	position: relative;
	top: 0px;
	width:100%;
}
.neon{
 	 top: 42px;
}

.jumbotron h1{
  	font-size:5.5rem;
}

p.subjectLead {
 	font-size: 3.5rem;
}
	
p.subject {
	font-size: 2.2rem;
	color: white;
	text-align: center;
}
}

@media screen and (min-width: 1051px) and (max-width: 1700px)
{
.backgroundimg{
	position: absolute;
	z-index: 0;
	width: 100%;
	opacity: 0.5;
	top: 0px;
  }
	
 .neon{
 	top: 42px;
  }
  
 jumbotron h1{
 	font-size:6.4rem;
  }
	
p.subjectLead{
 	font-size: 4rem;
}
	
p.subject {
	font-size: 2.2rem;
	color: white;
	text-align: center;
}
	
}

@media screen and (min-width: 1700px) and (max-width: 3500px)
{
.backgroundimg{
	position: absolute;
	z-index: 0;
	width: 100%;
	opacity: 0.5;
	top: 0px;
  }

    }
