#package {
    position: relative;
    max-width: 1920px;
    border-radius: 2rem;
    height: auto;
    margin-top: 2rem;
}

.frost {
    position: relative;
    border-radius: 3%;
    padding: 3%;
    width: 36rem;
    margin: auto;
    height: auto;
    border-bottom: 0;
    opacity: .8;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*#Chage shape of Logo*/

svg#main{
    width: 23rem;
    height: 7rem;
    display: block;
    margin: auto;
}
#building {
    width: 100%;
    margin: auto;
    height:12rem;
}

/*Main Section*/
h1 {
    color: var(--black);
    text-align: center;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px white;
}

h2 {
    color: var(--gray);
    text-align: center;
    font-size:2.2rem;
    text-shadow: 1px 1px 1px white;
}
form:before {
    content: "";
    width: 93%;
    height: 4px;
    background: radial-gradient(var(--blue), var(--gray));
    position: absolute;
    top: -2rem;
    left:1rem;
}
form {
    height: 22vh;
    position: relative;
    top: 4rem;
    margin: auto;
    font-size: 2rem;
    text-align: center;
}

.btn {
    text-shadow: 2px 2px 1px black;
    background: var(--rad2);
    color:var(--white);
    width:13rem;
}

