@media screen and (min-width: 250px) {
.frost {
    position: relative;
    height: 100vh;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 3%;
}

form{
    margin: 8vh 0vh;
    font-size:1.5vh;
    width: fit-content;
}

div.background {
    position: relative;
    height: 4vh;
}

svg.animated{
    position: relative;
    width: 97%;
    top:-68vh
}
}

@media screen and (min-width: 1250px) {
div.package{
    position: relative;
    width:100vw;
    height:100vh;
}


form{
    margin: 27vh 16vh;
    font-size:1.5vh;
    width: fit-content;
}

div.background {
    position: relative;
    height: 100vh;
}

.frost {
    position: relative;
    height: 100vh;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 3%;
}
svg.animated{
    width: 97%;
    height: 222vh;}
}
@media screen and (min-width: 2000px) {
div.package{
    position: relative;
    width:100vw;
}

div.background {
    position: relative;
    height: 100vh;
}


form{
    margin: 27vh 16vh;
    font-size:1.5vh;
    width: fit-content;
}

.frost {
    position: relative;
    height: 100vh;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 3%;
}

svg.animated{
    width: 70%;
    height: 222vh;}
}


