.container{
    width: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
}
img {
    object-fit: cover;
    width: 100vw;
    height: 60vh;
    border-radius: 50px 50px;
}
.text {
    text-align: center;
    position: relative;
    width: 60vw;
    margin: auto;
    top:-30rem
}
p {
    text-indent: 50px;
    letter-spacing: 2px;
    line-height: 1;
}
h2 {
    font-size:4rem;
    color: white;
    text-shadow: 1px 1px 4px #fab935;
}

@media screen and (max-width: 400px){
    .text {
        top:-35rem
    }
    h2 {
        font-size:1.8rem;
    }
}


