.text{
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin: 0 auto;
}
h1 {
    font-size:1.4rem;
    color:var(--orange);
    text-align: center;
}
h2 {
    font-size:1.2rem;
    color:var(--blue);
    text-align: center;
}
h3 {
    color:gray;
    font-size:.8rem;
    text-shadow:
    1px 1px 1px white;
}
