div.package{
    position: relative;
    height: 65vh;
}

div#size{
    position: relative;
    height: 60vh;
}
svg#cartoon{
    display:block;
    width: 120%;
    height: 110%;
}

.frost {
    position: relative;
    height: 100%;
    width:auto;
    border-radius: 8%;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    padding: 3%;
}

form{
    margin: 0rem 0rem;
    font-size:1.4rem;
    width: fit-content;
}
h1,h2{
    color:white;
    font-size:2.4rem;
    text-shadow: 3px 3px 2px black;
}
label{
    color:white;
    text-shadow: 3px 3px 2px black;

}
.form-text {
    color:white;
    text-shadow: 3px 3px 2px black;

}

@media screen and (max-width: 600px) {
    div.package{
        position: relative;
        width:auto;
    }
    div#size{
        display:none;
    }
    form{
        margin: 0rem 0rem;
        font-size:1.5rem;
    }
    h1,h2{
        color:white;
        font-size: 2.4rem;
    }
    label{
        color:white;
    }
}
