body, html {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
  }

div#alert {
    top:6.5vh;
    font-size: 2vh;
    position: relative;
    height: 3vh;
    width: 100vw;
    background-color:white;
    color:black;
    text-align: center;
    border: 1px solid #516a6f;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div#form {
    top:8vh;
    height: 17vh;
    width: 20%;
    position: relative;
}

th {
    color: white;
    background-color: #55608f;

    }
td {
    width: auto;
    font-size: 1.5vh;
    }


div.container {
    position:relative
}

table, th, td {
    position:relative;
}
@media (min-width: 1200px){
.container {
    max-width: 100%;
}
}
@media screen and (max-width: 800px) {
    td{
        font-size: 8px;
    }
    tbody tr td.description{
        font-size: 20px;
    }
    th {
        font-size: 6px;
        }
    th.county, td.county {
    display:none;
        }
    th.num, td.num{
        visibility: hidden
        }
}

