body, html {
	height: 100%;
	width: 100%;
	background-color:#4f5861;
}


.containerNew {
	top:5rem;
	position: relative;
	color:black;
	height: auto;
	margin: 0 auto;
	max-width:1920px
}

div#form {
	position: relative;
	top:6rem;
	max-width:1920px;
	margin: 0 auto;
}

label{
	color:black;
	width:fit-content;
}

.containerOut{
	position: relative;
	height: 100%;
	width: 100%;
}

.containerTable{
	position: relative;
	margin: 0 auto;
	max-width: 1920px ;
}

#table{
	height: auto;
}

th {
	color: white;
	background-color: #acc4fc;
}

td {
	color:black;
	text-align: center;
	white-space: break-spaces;
	overflow-wrap: break-word;
	background-color: ghostwhite;
	height: 23vh;
	overflow: auto;
}

.subrow {
	color:black;
	display:inline;
}
.subMenu {
	color:black;
	text-align: inherit;
	background-color: ghostwhite;
	height:auto;
	font-size: 1.5rem;
}

td:nth-child(even){
	background-color: snow;
}

td:hover {
	background-color: #f5f5f5;
}

#desc{
	display: block;
	overflow-x: auto;
}
span.pagination-info{
	color: white;
}
span.page-list{
	color: white;
}
.dropdown-item{
	border: 1px solid #ccc;
}
td#Count {
	max-width:1vw;
}
td#meetTyp {
	max-width:1vw;
}
td#itemTyp {
	max-width:5vw;
}

@media screen and (min-width: 001px) and (max-width: 400px){
div#form {
    top: 6rem;
    width: 20rem;
    position: relative;
}

.containerOut{
    top:20rem;
}
td {
    color:black;
    text-align: center;
    height: 23vh;
    overflow-wrap: break-word;
    background-color: ghostwhite;
    font-size: .9rem;
}
}

@media screen and (min-width: 401px) and (max-width: 700px){
div#form {
    top: 7rem;
    position: relative;
}
.containerOut{
    top:25rem;
}
td {
    color:black;
    text-align: center;
    height: 23vh;
    overflow-wrap: break-word;
    background-color: ghostwhite;
    font-size: 1.5rem;
}
}

@media screen and (min-width: 701px) and (max-width: 1399px){
div#form {
    top: top;
    height: 2vh;
    position: relative;
}
.containerOut{
    top:36rem;
}
td {
    color:black;
    text-align: center;
    height: 23vh;
    overflow-wrap: break-word;
    background-color: ghostwhite;
    font-size: 1.5rem;
}
}

@media screen and (min-width: 1401px) and (max-width: 2500px){
div#form {
    top: 0rem;
    width: 20rem;
    position: relative;
}

.containerOut{
	top:4rem;
}

td {
	color:black;
	text-align: center;
	height: 23vh;
	overflow-wrap: break-word;
	background-color: ghostwhite;
	font-size: 1.5rem;
}
}

@media screen and (min-width: 2501px) and (max-width: 5500px){
div#form {
	top: 6rem;
	position: relative;
}
.containerOut{
	top:10rem;
}

}
