body ,html{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.containBG{
    display:flex;
    height:100%;
    width: 100%;
    position: relative;
    background-color:#4f5861;
}

.containIn{
    display:flex;
    height: 85%;
    width: 50%;
    margin: 5% 25%;
    position: absolute;
    background-color:ghostwhite;
    border-radius: 7%;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
}
input[type=submit] {
    margin: 0 auto
}

div.formdiv{
    flex: 2;
    font-size:2vh;
    width:50vw;

}

.info{
    position: absolute;
    height:42%;
    column-count: 4;
    width:30%;
}

h3{
    font-size:1vh;
}

#committeeOpt{
    display:none;
}
@media screen and (min-width: 001px) and (max-width: 499px){
    .containIn{
        margin: 20% 13%;
    }
    
    div.formdiv{
        flex: 2;
        font-size: 1.2vh;
        margin: 3px 15px;
    }
    
    .info{
        position: absolute;
        height:46%;
        column-count: 4;
        width:50%;
    }
    
    h3{
        font-size:.8vh;
    }
    img {
        display:none;
    }
}
@media screen and (min-width: 500px) and (max-width: 1529px){
    .containIn{
        margin: 12% 13%;
    }
    
    div.formdiv{
        font-size: 1.2vh;
        margin: 29px 70px;
    }
    
    .info{
        height:46%;
        column-count: 4;
        width:50%;
    }
    
    h3{
        font-size:.8vh;
    }
    img {
        display:none;
    }
}
@media screen and (min-width: 1530px) and (max-width: 2000px){
    .containIn{
        margin: 12% 13%;
    }
    
    div.formdiv{
        font-size:1.8vh;
        margin: 22px 33px;
    }
    
    .info{
        position: absolute;
        height:42%;
        column-count: 4;
        width:30%;
    }
    
    h3{
        font-size:.8vh;
    }
}
@media screen and (min-width: 2001px) and (max-width: 3500px){
    .containIn{
        display:flex;
        height:85%;
        width: 70%;
        margin: 5% 13%;
    }
    
    div.formdiv{
        flex: 2;
        font-size:1.8vh;
        margin: 22px 33px;
    }
    
    .info{
        position: absolute;
        height:42%;
        column-count: 4;
        width:30%;
    }
    
    h3{
        font-size:.8vh;
    }
}





