.col-sm-5{
    padding-right:0px;
    padding-left:0px;
}

div.background {
    position: relative;
    height: 80vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 71%;
}

.frost {
    position: relative;
    height: auto;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
}

div.formdiv{
    position: relative;
    font-size:2vh;
    height:auto;
    top: 7vh;
    left:1vh;
}
label{
    color:white;
}
input[type=submit] {
    margin: 0 auto;
    color: gray;
}

.info{
    position: relative;
    height:40rem;
    column-count: 7;
    width:100%;
    color: white;
}

h3{
    font-size:.8rem;
}

#committeeOpt{
    display:none;
}
#orangeOpt{
    display:none;
}
#lbcommitteeOpt{
    display:none;
}
#riversideOpt{
    display:none;
}
#sanbernandinoOpt{
    display:none;
}
#sandiegoOpt{
    display:none;
}

@media screen and (max-width: 400px){
div.formdiv{
    font-size: 1rem;
    top: 1rem;
}
div.background {
    position: relative;
    height: 4vh;
}
.info{
    height:50rem;
    column-count: 6;
    width:100%;
}
h3{
    font-size:.7rem;
}
div.background {
    height:0px;
}
img {
    display: none;
}
.frost {
    top: 3vh;
    left: 2em;
    width: 93vw;
}
}

@media screen and (min-width: 400px) and (max-width: 768px) { 
    div.formdiv{
        font-size: 1.2vh;
        }
    .info{
        height:50rem;
        column-count: 9;
        width:100%;
    }
    div.background {
        height:80vh;
    }
    img {
        display:block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1500px) {
    .frost {
        top:0vh;
    }
    div.formdiv{
        font-size:1.8vh;
        top:0vh;
    }
    .info{
        height: 55rem;
        column-count: 8;
        width:100%;
    }
    div.background {
        height:80vh;
    }
    img {
        display:block;
    }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
    .frost {
        top:0vh;
    }
    div.formdiv{
        font-size:1.8vh;
    }
    .info{
        height: 40rem;
        column-count: 7;
        width:100%;
    }
    div.package{
        position: relative;
        width:100vw;
    }
    div.background {
        height:80vh;
    }
    img {
        display:block;
    }
}










