<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
</head>>
<br></br>
<body>
<div class="container">
    <img src="/static/IMG_0150 2.JPG">
</div>
<div class="text">
    <h2>About</h2>
    <p> Mr. Preciado has been working in politics on the local and national level for over 10 years. 
He brings a wealth of professional experience to his work coming from both the public and private sector. Mr. Preciado has worked with regulatory agencies, startup companies, statewide campaigns, local government agencies, cannabis issues, and real estate developers. As the founder, Sergio is committed to bringing a new approach to local government.
</p>
</div>
    </body>
{% endblock %}
