<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name=”description” content= ”About page for PolicyEdge owner”>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
</head>
<body>
    <br></br>
    <div class="jumbotron jumbotron-fluid">
        <picture >
        <img src="/static/Main-1.jpeg" alt="Agenda search" class="jumbotron__background">
        </picture>
        <div class="container text-center">
            <br></br>
            <br></br>
            <h1 class="display-4">Abo<span>ut</span></h1>
            <p class="lead">Mr. Preciado has been working in politics on the local and national level for over 10 years.
                He brings a wealth of professional experience to his work coming from both the public and private sector. Mr. Preciado has worked with regulatory agencies, startup companies, statewide campaigns, local government agencies, cannabis issues, and real estate developers. As the founder, Sergio is committed to bringing a new approach to local government.</p>
        </div>
    </div>
</body>
{% endblock %}
