<!DOCTYPE html>
{% extends "base.html" %}
{% block metadata %}
    <meta charset='utf-8'/>
    <meta name=”description” content= ”About page for PolicyEdge owner”/>
{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
    <title>Learn about PolicyEdge</title>
</head>
<body>
    <br></br>
    <div class="jumbotron jumbotron-fluid">
        <picture >
        <img src="/static/Main-1.jpeg" alt="Blue MSP building located in Scotland. Scottish parliament building." class="jumbotron__background">
        </picture>
        <div class="container">
            <h1 class="display-4">Abo<span>ut</span></h1>
            <p class="lead">Mr. Preciado has been working in politics on the local and national level for over 10 years.He brings a wealth of professional experience to his work coming from both the public and private sector.  
                <br></br>Before PolicyEdge, Sergio served as a political consultant for one of the top Public Affair firms in Los Angeles, with clients at the highest levels of the business, non-profit, trade association and political worlds. Preceding that, he was a Congressional staff member in Washington D.C., for a member of the U.S House of representatives. He is a resident of Los Angeles and spends his time in his community. 
                <br></br>As the founder, Sergio is committed to giving new insight into local government. </p>
        </div>
    </div>
</body>
{% endblock %}
