<!DOCTYPE html>
{% extends "base.html" %}
    <meta charset='utf-8'/>
    <meta name='description' content= 'The latest agenda items involving Cannabis in Los Angeles'/>
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cannabis.css') }}">
</head>
<body>
<br></br>
<br></br>
<br></br>
<br></br>
<div class=".container-fluid" >
    <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-sortable="true"
        data-pagination="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table-responsive">
    <thead class='h-10'>
        <tr class='col-sm-6'>
            <th data-field= 'row-City'  data-sortable="true">City</th>
            <th class="hidden-xs" data-field= 'row-County' data-sortable="False">County</th>
            <th data-field= 'row-Date' data-sortable="False">Date</th>
            <th data-field= 'row-Meeting' data-sortable="true">Meeting Type</th>
            <th class='hidden-xs' data-field= 'row-Item' data-sortable="true">Item Type</th>
            <th class='hidden-xs' data-field= 'row-Num' data-sortable="true">Number</th>
            <th class='.text-center' data-field= 'row-Description' data-sortable="true">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for agenda in agendas %}
        <tr>
            <td>{{agenda.City}}</td>
            <td class='hidden-xs'>{{agenda.County}} </td> <!Hidden hides in compact phone mode!>
            <td type='text'>{{agenda.Date}}</td>
            <td>{{agenda.MeetingType}} </td>
            <td class='hidden-xs'>{{agenda.ItemType}} </td>
            <td class='hidden-xs'>{{agenda.Num}} </td>
            <td class="description">{{agenda.Description.replace('cannabis', '@*_*_*_*_*_*_{}_*_*_*_*_*_*_@'.format('cannabis'))}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>
{% endblock %}
