<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Footer.css') }}" />
</head>
<footer>
<h8 class="copy"> © Copyright Sergio Preciado, 2021</h8>
<a href="https://twitter.com/ChechoFresco" class="fa fa-twitter"></a>
<a href="https://www.facebook.com/SPreciado" class="fa fa-facebook"></a>
<a href="https://www.linkedin.com/in/sergio-preciado-9a00aa5a/" class="fa fa-linkedin"></a>
<a href="mailto:Spreciado67@gmail.com"class="fa fa-google"></a>
<div class="colorstrip"></div>
</footer>

