<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Footer.css') }}" />
</head>
<footer class='foot'>
        <h8 class="copy"> © Copyright PolicyEdge, 2022</h8>
        <a href="https://twitter.com/Policy__Edge" class="fa fa-twitter"></a>
        <a href="https://www.facebook.com/Policy3dge" class="fa fa-facebook"></a>
        <a href="https://www.linkedin.com/in/sergio-preciado-9a00aa5a/" class="fa fa-linkedin"></a>
        <a href="mailto:AgendaPreciado@gmail.com"class="fa fa-google"></a>
</footer>
</body>
