<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset='utf-8'></meta>
    <meta name='viewport' content='width=device-width,initial-scale=1'></meta>
    <meta name=”description” content= ”PolicyEdge provides agenda tracking for all of Los Angeles. Agend monitoring for Los Angeles County.”></meta>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <title>PolicyEdge agenda monitoring tracking service</title>
</head>
<body>
    <br></br>
	<div class="jumbotron jumbotron-fluid">
	    <picture >
	    <img src="/static/Main-1.jpeg" alt="Blue MSP building located in Scotland. Scottish parliament building."  class="jumbotron__background">
	    </picture>
	    <div class="container text-center">
		<br></br>
		<h1 class="display-4">Government at a glance</h1>
			<p class="lead">Tired of digging through unorganized and antiquated local governemnt websites? Let <span style= "color:#4404fc; text-shadow: 1px 1px black">Policy</span><span style= "color:#acc4fc; text-shadow: 1px 1px black">Edge</span>'s scripts and algorithims, deliver the latest agendas directly into your mailbox.</p>
			<hr class="my-4">
			<p class="support">PolicyEdge is dedicated to providing the most up-to-date agendas from Agoura Hills to Whittier.</p>
			</hr>
        </div>
<br></br>
<br></br>
<br></br>
    <div class="container-fluid bg-3 text-center">
        <h3>Click on images to see if any of the following issues have been discussed in LA County during the last month</h3>
        <div class="row">
            <div class="col-sm-3">
                <a href="/utility" class="link">
                <p>Utilities</p>
                <img src="/static/pexels-fadel-baskoro-Utilities.jpg" alt="Birds sitting on top of utility pole." class="thumbnail" style="width:100% " alt="Image">
            </div>
            <div class="col-sm-3">
                <a href="/waste" class="link">
                <p>Waste</p>
                <img src="/static/pexels-alex-fu-Waste.jpg" alt="Cardboard waste stacked in pellets for recycling." class="thumbnail" style="width:100% " alt="Image">
            </div>
            <div class="col-sm-3">
                <a href="/medical" class="link">
                <p>Medical</p>
                <img src="/static/pexels-anna-shvets-Medical.jpg" alt="Face mask" class="thumbnail" style="width:100% " alt="Image">
            </div>
            <div class="col-sm-3">
                <a href="/telecommunication" class="link">
                <p>Communications</p>
                <img src="/static/pexels-pixabay-Comm.jpg" alt="Staring up through a large communication tower." class="thumbnail" style="width:100% " alt="Image">
            </div>
        </div>
    </div>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-3">
                <a href="/transportation" class="link">
                <p>Transportation</p>
                <img src="/static/pexels-pew-nguyen-Transportation.jpg" alt="People riding on a bus to work during rush hour." class="thumbnail" style="width:100% " alt="Image">
            </div>
            <div class="col-sm-3">
                <p>Technology</p>
                <a href="/technology" class="link">
                <img src="/static/pexels-thisisengineering-Technology.jpg" alt="Android arm being diplayed at event" class="thumbnail" style="width:100% " alt="Image">
            </div>
            <div class="col-sm-3">
                <a href="/financial" class="link">
                <p>Financial</p>
                <img src="/static/pexels-pixabay-Financial.jpg" alt="Stock market tickers from Wall St." class="thumbnail" style="width:100% " alt="Image">
            </div>
            <div class="col-sm-3">
                <a href="/cannabis" class="link">
                <p>Cannabis</p>
                <img src="/static/Marijuana.jpeg" alt="Cannabis retail options." class="thumbnail" style="width:100% " alt="Image">
            </div>
        </div>
    </div>
</body>
{% endblock %}


