<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logged_in.css') }}" />
</head>
    <body>
        <div class="Inwrapper">
            <video id="video" autoplay muted loop>
            <source src="{{ url_for('static', filename='video1.mp4') }}" type="video/mp4">
            </video>
            <div class="text">PolicyEdge</div>
            <div class="overlayText">
            <h3>Government at a glance</h3>
            </div>
            </div>
        <div class="overlayText">
        <p>Hello You have Logged in as {{ username }} </p>
        </div>
    </body>
{% endblock %}