<!DOCTYPE html>
{% extends "base.html" %}
{% block metadata %}
    <meta charset='utf-8'/>
    <meta name='description' content= 'The latest agenda in Los Angeles County'/>
{% endblock %}
{% block content %}
<head>
    <script>function reveal() {
        var reveals = document.querySelectorAll("#table");
        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;
            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } else {
                reveals[i].classList.remove("active");
            }
        }
    }
    window.addEventListener("scroll", reveal);
</script>

<script>
    $(document).ready(function () {
        $("#table").on("click", ".description", function () {
            if (this.style.display === "flex") {
                this.style.display = "revert";
            }
            else {
                this.style.display = "flex";
            }
        });
    });
</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/losangeles.css') }}">
</head>
<body>
<br></br>

<div class=".container-fluid" >
    <table id="table"
        data-toggle="table"
        data-filter-control="true"
        data-sortable="true"
        data-pagination="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table-responsive">
    <thead class='h-10'>
        <tr class='col-sm-6'>
            <th data-field= 'row-City'  data-sortable="true">City</th>
            <th class="hidden-xs" data-field= 'row-County' data-sortable="False">County</th>
            <th data-field= 'row-Date' data-sortable="False">Date</th>
            <th data-field= 'row-Meeting' data-sortable="true">Meeting Type</th>
            <th class='hidden-xs' data-field= 'row-Item' data-sortable="true">Item Type</th>
            <th class='hidden-xs' data-field= 'row-Num' data-sortable="true">Number</th>
            <th class='.text-center' data-field= 'row-Description' data-sortable="true">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for agenda in agendas %}
        <tr>
            <td>{{agenda.City}}</td>
            <td class='hidden-xs'>{{agenda.County}} </td> <!Hidden hides in compact phone mode!>
            <td type='text'>{{agenda.Date|aTime}}</td> <!aTime converts agenda.Date from int to date format!>
            <td>{{agenda.MeetingType}} </td>
            <td class='hidden-xs'>{{agenda.ItemType}} </td>
            <td class='hidden-xs'>{{agenda.Num}} </td>
            <td class="description">{{agenda.Description}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>
{% endblock %}
