<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/noSubscription.css') }}" />
</head>
<br></br>
<div class="container">
    <img src="/static/Main-2.jpeg">
</div>
<div class="text">
    <h2>Please Subscribe to PolicyEdge to unlock our entire site!</h2>
        <section class="portfolio-experiment" transition-style="in:wipe:top-right">
            <a href="/register">
                <span class="text">Start for free</span>
                <span class="line -right"></span>
                <span class="line -top"></span>
                <span class="line -left"></span>
                <span class="line -bottom"></span>
            </a>
        </section>
</div>
{% endblock %}

