<!DOCTYPE html>
{% extends "base.html" %}
{% block metadata %}
    <meta charset='utf-8'/>
    <meta name='description' content= 'The latest agenda in Orange County'/>
{% endblock %}
{% block content %}
<head>

    <script>
        $(document).ready(function () {
            $("#table_1").on("click", "td.description", function () {
                if (this.style.maxHeight === "9rem") {
                    this.style.maxHeight = "fit-content";
                }
                else {
                    this.style.maxHeight = "9rem";
                }
            });
        });
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/indivCounties.css') }}">

</head>
<body>
<div class="frost">
    <div id="conTable">
        <table id="table_1" data-toggle="table" data-filter-control="true" data-sortable="true" data-pagination="true"
            data-show-columns="true" data-show-columns-toggle-all="true" data-page-size='12' class="table-responsive">
            <caption>Orange County</caption>
            <thead class='h-12'>
                <tr>
                    <th class='hidden-xs'data-field='row-Date' data-sortable="true">Date</th>
                    <th  class='hidden-xs'data-field= 'row-County' data-sortable="true">County</th>
                    <th class='hidden-xs'data-field='row-City' data-sortable="true">City</th>
                    <th  class='hidden-xs'data-sortable="true">Meeting Type</th>
                    <th  class='hidden-xs'data-field= 'row-Item' data-sortable="true">Item Type</th>
                    <th class='hidden-xs'data-field= 'row-Num' data-sortable="False">Item</th>
                    <th class='none' data-field='row-Description' data-sortable="true">Item</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendas %}
                <tr>
                    <td class='none'>{{agenda.Date}}</td>
                    <td class='none'>{{agenda.County}}</td>
                    <td class='none'>{{agenda.City}}</td>
                    <td class='none'>{{agenda.MeetingType}}</td>
                    <td class='none'>{{agenda.ItemType}}</td>
                    <td class='description'>{{agenda.Description}}</td>
                    <td class='infoLocation'><span id='prettyTable' class='hidden-xs'>Date: </span>{{agenda.Date|aTime}} <span id='prettyTable' class='hidden-xs'>County: </span>{{agenda.County}} <span id='prettyTable' class='hidden-xs'>City: </span>{{agenda.City}} <span id='prettyTable' class='hidden-xs'>Meeting Type: </span>{{agenda.MeetingType}}<span id='prettyTable' class='hidden-xs'> Item Type: </span>{{agenda.ItemType}} <span id='prettyTable' class='hidden-xs'>Number: </span>{{agenda.Num}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
</body>
{% endblock %}
