<!DOCTYPE html>
{% extends "base.html" %}
{% block metadata %}
<meta property="og:title" content="Subscribe to PolicyEdge" />
<meta property="og:description" content="PolicyEdge subscription service - Register today to start agenda tracking in your city." />
{% endblock %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Highlights words in table-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
    var messages = {{ messages | safe }};
    for (var i = 0; i < messages.length; i++) {
        alert(messages[i]);
    }
</script>
{% endif %}
{% endwith %}
<div class="row" id ='package'>
    <div class="col-sm-offset-2 col-sm-4">
        <div>
            <h1>Get started with PolicyEdge</h1>
            <h2 >Set alerts to track legislation as it moves through counties or local city councils.</h2>
            <h2 >Take a tour of our website to see a few of our offerings, from monitoring of legislation and regulations,
                to tracking emerging trends across Southern California.</h2>
            <h2 >We provide a three year back catalog of city government documents, with
                customizable search features, allowing users to simplify background research, and gain
                fresh insight examining neighboring cities who have dealt with the similiar issues.</h2>
        </div>
    </div>
    <div class="col-sm-offset-1 col-sm-4">
        <div class='frost'>
            <form action="/create-checkout-session" method="post" class="form-line">
                <div class="layout">
                    <div class="topForm">
                        <label for="username">Username</label>
                        <input name="username" class="form-control" id="inputUsername" aria-describedby="emailHelp"
                            placeholder="John Doe">
                    </div>
                    <div class="topForm">
                        <label for="InputEmail">Email</label>
                        <input name="email" class="form-control" id="InputEmail" placeholder="example@email.com">
                    </div>
                    <div class="bottomForm">
                        <label for="InputPassword">Enter Password</label>
                        <input type="password" name="password1" class="form-control" id="InputPassword"
                            placeholder="Password">
                    </div>
                    <div class="bottomForm">
                        <label for="InputPassword2">Repeat Password</label>
                        <input type="password" name="password2" class="form-control" id="InputPassword2"
                            placeholder="Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
