<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/savedIssues.css') }}">
<script>
    $(document).ready(function () {
        $('tr').click(function(){
            var issue = $(this).text();
            var maybe =  issue.split("\n");
            var is =  (JSON.stringify(maybe[1]));
            var is2 =  (JSON.stringify(maybe[2]));
            var is3 =  (JSON.stringify(maybe[3]));
            var is4 =  (JSON.stringify(maybe[4]));
            $(".input-issue").val(is.replace("Issue:","").replace('                ',"").replace("                ", "").replace('"', '').replace('"', '').replace(' ', ''));
            $(".input-city").val(is2.replace("City:","").replace('                ',"").replace("                ", "").replace('"', '').replace('"', '').replace(' ', ''));
            $(".input-committee").val(is3.replace("Committee:","").replace('                ',"").replace("                ", "").replace('"', '').replace('"', '').replace(' ', ''));
            $(".input-county").val(is4.replace("County:","").replace('                ',"").replace("                ", "").replace('"', '').replace('"', '').replace(' ', ''));
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#table_1").on("click", "td.description", function () {
            if (this.style.maxHeight === "9rem") {
                this.style.maxHeight = "fit-content";
            }
            else {
                this.style.maxHeight = "9rem";
            }
        });
    });
</script>

</head>

    <div class="row">
        <div class="col-sm-3">
            <h2 id="Message1">Fill in the form highlighted white to create email notification based on issue, location, and/or committee's</h2>
        </div>

        <div class="col-sm-6">
            <div id="form">
                {% from "_formhelpers.html" import render_field %}
                <form method="post">
                    {{ render_field(form.monitor_search, class='input-issue' )}}
                    {{ render_field(form.city_search, class='input-city')}}
                    {{ render_field(form.committee_search, class='input-committee')}}
                    {{ render_field(form.county_search, class='input-county')}}
                    <p><input class="add" type="submit" value="Add" name='action' id="monitorListform" ></p>
                    <p><input class="delete" type='submit' value="Delete" name='action'id="monitorListform" ></p>
                </form>
            </div>
        </div>

        <div class="col-sm-3">
            <h2 id="delMessage">Item will appear below once details are provided and entered into form.</h2>
        </div>
    </div>

    <div class="containeraddDelete" >
        {% for x in issues_placeholders%}
        <table class='border'>
            <tr class= 'subrow'>
                <td class='subMenu'>Issue: {{x['searchWord']}}</td>
                <td class='subMenu'>City:{{x['City']}}</td>
                <td class='subMenu'>Committee:{{x['Committee']}}</td>
                <td class='subMenu'>County:{{x['County']}}</td>
            </tr>
        </table>
        {% endfor %}

    </div>


    <div id="conTable">
        <table id="table_1" data-toggle="table" data-filter-control="true" data-sortable="true" data-pagination="true"
            data-show-columns="true" data-show-columns-toggle-all="true" data-page-size='6' class="table-responsive">
            <caption>{{chosen}}</caption>
            <thead class='h-12'>
                <tr>
                    <th class='hidden-xs'data-field='row-Date' data-sortable="true">Date</th>
                    <th  class='hidden-xs'data-field= 'row-County' data-sortable="true">County</th>
                    <th class='hidden-xs'data-field='row-City' data-sortable="true">City</th>
                    <th  class='hidden-xs'data-sortable="true">Meeting Type</th>
                    <th  class='hidden-xs'data-field= 'row-Item' data-sortable="true">Item Type</th>
                    <th class='hidden-xs'data-field= 'row-Num' data-sortable="False">Item</th>
                    <th class='none' data-field='row-Description' data-sortable="true">Item</th>
                </tr>
            </thead>
            <tbody>
                {% for agendaa in agendaas %}
                <tr class='lineSep'>
                    <td class='none'>{{agendaa.Date}}</td>
                    <td class='none'>{{agendaa.County}}</td>
                    <td class='none'>{{agendaa.City}}</td>
                    <td class='none'>{{agendaa.MeetingType}}</td>
                    <td class='none'>{{agendaa.ItemType}}</td>
                    <td class='description'>{{agendaa.Description}}</td>
                    <td class='infoLocation'><span id='prettyTable' class='hidden-xs'>Date: </span><span id='prettyTable2'>{{i.Date|aTime}}</span> <span id='prettyTable' class='hidden-xs'>County: </span><span id='prettyTable2'>{{i.County}}</span> <span id='prettyTable' class='hidden-xs'>City: </span><span id='prettyTable2'>{{i.City}}</span> <span id='prettyTable' class='hidden-xs'>Meeting Type: </span><span id='prettyTable2'>{{i.MeetingType}}</span><span id='prettyTable' class='hidden-xs'> Item Type: </span><span id='prettyTable2'>{{i.ItemType}}</span> <span id='prettyTable' class='hidden-xs'>Number: </span><span id='prettyTable2'>{{i.Num}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
{% endblock %}




