<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/savedIssues.css') }}">
<script>
    $(document).ready(function () {
        $('td').click(function(){
            var issue = $(this).text();
            var maybe =  issue.split("\n");
            var is =  (JSON.stringify(maybe[0]));
            var is2 =  (JSON.stringify(maybe[1]));
            var is3 =  (JSON.stringify(maybe[2]));
            var is4 =  (JSON.stringify(maybe[3]));

            $(".input-issue").val(is.replace("Issue :","").replace('"    ','').replace(' "','')); 
            $(".input-city").val(is2.replace("City :","").replace('"    ','').replace(' "',''));
            $(".input-committee").val(is3.replace("committee :","").replace('"    ','').replace(' "',''));  
            $(".input-county").val(is4.replace("County :","").replace('"    ','').replace('  "',''));  
        });
    });
</script>

<script>
    $(document).ready(function(){
        $("#table").on("click", "#desc", function() {
            if (this.style.display === "block") {
                this.style.display = "revert";} 
            else {
                this.style.display = "block";}        
        });
    });
</script>

</head>

    <div class="containerNew" >
        <table>
            {% for x in issues_placeholders%}
            <tr class= 'subrow'>
                <td class='subMenu'>{{x| replace("'", ' ')| replace("{", ' ')| replace("}", ' ')| replace(",", "\n")| replace("searchWord", "Issue") }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="form">
        {% from "_formhelpers.html" import render_field %}
        <form method="post">
            {{ render_field(form.monitor_search, class='input-issue' )}}
            {{ render_field(form.city_search, class='input-city')}}
            {{ render_field(form.committee_search, class='input-committee')}}
            {{ render_field(form.county_search, class='input-county')}}
            <p><input type="submit" value="Add" name='action' id="monitorListform" ></p>
            <p><input type='submit' value="Delete" name='action'id="monitorListform" ></p>
        </form>
    </div>

    <div class="containerOut" >
        <div class="containerTable" >
            <table id="table"
                data-toggle="table"
                data-filter-control="true"
                data-sortable="true"
                data-pagination="true"
                data-show-columns="true"
                data-show-columns-toggle-all="true"
                class="table-responsive">
                <thead class='h-10'>
                    <tr class='col-sm-6'>
                        <th data-field= 'row-City' class='city'data-sortable="true">City</th>
                        <th class="hidden-xs County" data-field= 'row-County' data-sortable="False">County</th>
                        <th data-field= 'row-Date' class='date'data-sortable="False">Date</th>
                        <th data-field= 'row-Meeting' class='meeting' data-sortable="true">Meeting Type</th>
                        <th class='hidden-xs Item' data-field= 'row-Item' data-sortable="true">Item Type</th>
                        <th class='hidden-xs Num' data-field= 'row-Num' data-sortable="true">Number</th>
                        <th class='description'data-field= 'row-Description' data-sortable="true" >Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agenda in agendas %}
                        <tr class="agendaRow">
                            <td>{{agenda.City}}</td>
                            <td class='hidden-xs' id='Count'>{{agenda.County}} </td> <!Hidden hides in compact phone mode!>
                            <td type='text'>{{agenda.Date|aTime}}</td>
                            <td id='meetTyp'>{{agenda.MeetingType}}</td>
                            <td id='itemTyp'class='hidden-xs'>{{agenda.ItemType}} </td>
                            <td class='hidden-xs'>{{agenda.Num}} </td>
                            <td id='desc'>{{agenda.Description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
{% endblock %}




